PassengerEnabled on
PassengerAppType node
PassengerStartupFile app.js
PassengerFriendlyErrorPages on
PassengerAppEnv production
PassengerMaxPoolSize 1
PassengerMinInstances 1
PassengerMaxInstances 1
PassengerPoolIdleTime 0
PassengerSpawnMethod direct
PassengerLogLevel 3
