PassengerEnabled on
PassengerAppRoot /home/weperstal/public_html
PassengerAppType node
PassengerStartupFile app.js
PassengerNodejs /usr/bin/node
PassengerFriendlyErrorPages on
PassengerAppEnv production
PassengerMaxPoolSize 1
PassengerMinInstances 1
PassengerMaxInstances 1
PassengerPoolIdleTime 0
PassengerPreStart http://weperstal.nl
PassengerRestartDir /home/weperstal/public_html
PassengerLogLevel 3
PassengerLogFile /home/weperstal/logs/passenger.log
PassengerTempDir /home/weperstal/tmp
PassengerSpawnMethod direct
PassengerUser weperstal
PassengerGroup weperstal
